{% extends "base.html" %}

{% block PageTitle %}
Transações
{% endblock PageTitle %}

{% block content %}
<div class="p-5">
    <div class="actions-header d-flex align-items-center justify-content-between">
        <div>
            <h4>Transações</h4>
        </div>
        <div class="actions">
            <div>
                <form method="get" action="{% url 'listar-transacoes' %}">
                    <select name="mes" id="mes" onchange="this.form.submit()" class="shadow-sm">
                        {% for numero, nome in meses.items %}
                            <option value="{{ numero }}" {% if numero == mes %}selected{% endif %}>{{ nome }}</option>
                        {% endfor %}
                    </select>
                    <select name="ano" id="ano" onchange="this.form.submit()" class="shadow-sm">
                        {% for ano_disponivel in anos %}
                            <option value="{{ ano_disponivel }}" {% if ano_disponivel == ano %}selected{% endif %}>{{ ano_disponivel }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <select class="tipo_select" id="tipo_transacao" onchange="window.location.href = '?tipo_categoria=' + this.value;">
                <option value="" {% if tipo_transacao is None %}selected{% endif %}>Todas</option>
                <option value="D" {% if tipo_transacao == 'D' %}selected{% endif %}>Despesas</option>
                <option value="R" {% if tipo_transacao == 'R' %}selected{% endif %}>Receitas</option>
            </select>
        </div>
    </div>
    <div class="mt-5" id="transacoes-container">
        {% block appContent %}
    
        {% endblock appContent %}
    </div>
</div>

{% endblock content %}

{% block areaScript %}
<script>
document.getElementById('tipo_transacao').addEventListener('change', function () {
    const tipoSelecionado = this.value;
    fetch(`/categorias/?tipo_transacao=${tipoSelecionado}`, {
        method: 'GET',
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.text())
    .then(html => {
        // Atualiza apenas a tabela de categorias
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        document.getElementById('transacoes-container').innerHTML = 
            doc.getElementById('transacoes-container').innerHTML;
    })
    .catch(error => console.error('Erro ao carregar categorias:', error));
});
</script>
{% endblock areaScript %}