<form  method="post" action="{% url 'apagar-categoria' categoria.pk%}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Apagar Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h2>Deseja apagar a categoria "{{categoria.nome}}"?</h2>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Sim, Apagar</button>
    </div>
</form>gi