{% if categoria.pk %}
    <form method="post" action="{% url 'editar-subcategoria' categoria.pk %}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Editar Sub-Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <div>
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist mt-3">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <div>
                <input type="hidden" name="categoria_pai" value="{{ form.categoria_pai.value }}" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

{% else %}
    <p>Categoria não encontrada!</p>
{% endif %}
