{% extends "./base.html" %}

{% block appContent %}

{% if categorias %}
<table class="table table-responsive table-hover shadow">
    <thead class="table-light rounded">
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="rounded">
    {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nome }}</td>
            <td class="d-flex justify-content-end gap-3">
                <span><a href="#" class="btn btn-success load-modal" data-url="{% url 'editar-categoria' categoria.pk %}"><i class="ri-edit-line"></i></a></span>
                <span><a href="#" class="btn btn-danger load-modal" data-url="{% url 'apagar-categoria' categoria.pk %}"><i class="ri-delete-bin-7-line"></i></a></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nenhuma Categoria Cadastrada!</p>
{% endif %}

{% endblock appContent %}